.DS_Store
__init__.py
images_dataset.csv
__pycache__/
venv/
datasets/mp3_files
datasets/spectrogram_images_class_files
datasets/spectrogram_images_mp3_files
datasets/annotations_final.csv
datasets/train_test_val

models/best_model
models/best_model.zip

.idea
.idea/
.idea/*
.idea/workspace.xml